.container {
  position: absolute;
  width: 360px;
  height: 735px;
  background: #fff;
  z-index: 1000;
  border-radius: 20px 0 0 0;
  margin-top: -37px;
}

.container .content {
  display: block;
  width: 312px;
  margin: 20px 24px 0 24px;
}

.container .content .topcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content .product_name {
  width: 312px;
  height: 20px;
}

.content .product_name h1 {
  margin: 0;
  text-align: left;
  font: normal normal medium 14px/18px Poppins;
  font-size: 14px;
  letter-spacing: 0px;
  color: #7315be;
  opacity: 1;
}

.rating {
  height: 16px;
  display: flex;
  align-self: self-start;
}

.prices {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: start;
}

.price {
  text-align: left;
  text-decoration: line-through;
  font: normal normal medium 14px/16px Poppins;
  font-size: 14px;
  letter-spacing: 0px;
  color: #7315be;
  opacity: 1;
}

.offer {
  text-align: left;
  font: normal normal medium 14px/16px Poppins;
  font-size: 14px;
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 20px;
}

.description h3 {
  margin: 0 0 12px 0;
  padding: 0;
  text-align: left;
  font: normal normal 600 12px/16px Poppins;
  font-size: 12px;
  letter-spacing: 0.96px;
  color: #7315be;
  text-transform: uppercase;
  opacity: 1;
}

.description p {
  margin: 0 0 8px 0;
  padding: 0;
  text-align: left;
  font: normal normal normal 12px/16px Poppins;
  letter-spacing: 0px;
  color: #434343;
  opacity: 1;
}

.description a {
  text-align: left;
  font: normal normal normal 12px/16px Poppins;
  font-size: 12px;
  letter-spacing: 0px;
  color: #7315be;
  opacity: 1;
  text-decoration: none;
}

.others_products_title {
  width: fit-content;
  margin-top: 20;
}

.others_products_title h3 {
  text-align: left;
  font: normal normal 600 12px/16px Poppins;
  font-size: 12px;
  letter-spacing: 0.96px;
  color: #7315be;
  text-transform: uppercase;
  opacity: 1;
}

.slider {
  display: flex;
  gap: 12px;
  max-width: 360px;
  width: 100%;
  border-radius: 12px;
  scroll-snap-type: x mandatory;
  overflow-x: scroll;
  scroll-padding: 30px;
}
