.round {
  position: relative;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 10px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 2.1px;
  left: 2.1px;
  opacity: 0;
  position: absolute;
  top: 2.5px;
  transform: rotate(-45deg);
  width: 4.3px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #7315be;
  border-color: #7315be;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.title {
  margin-left: 4px;
  margin-top: 0.5px;
  width: 145px;
  height: 17px;
  text-align: left;
  font: normal normal normal 12px/16px Poppins;
  letter-spacing: 0px;
  color: #7315be;
  opacity: 1;
  text-align: center;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items:flex-start;
}
