.footer {
  background: #f5f5f5 0% 0% no-repeat padding-box;
  opacity: 1;
  padding: 24px;
}

.title h5 {
  margin: 0;
  padding: 0;
}

.others {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 12px;
  margin-top: 11px;
}

.others span {
  text-align: left;
  font: normal normal 300 10px/18px Poppins;
  letter-spacing: 0px;
  color: #343434;
  opacity: 1;
}

.others img {
    margin-left: 5px;
}
